{% extends "base.html.twig" %}

{% form_theme formView 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css">
{% endblock %}

{% block title %}
    Modification {{supplement.name}}
{% endblock %}

{% block body %}
    <div class="container pt-5">
    
        {% if supplement.name != "" %}
            <h1>Modification Supplement : {{supplement.name}}</h1>
        {% else %}
            <h1>Nouveau Supplement : </h1>
        {% endif %}

        {{form_start(formView)}}
        {{form_errors(formView)}}

        <div class="row">
            <div class="col ">
                {{form_row(formView.name)}}
                {{form_row(formView.short_description)}}
                {{form_row(formView.price)}}
            </div>
            <div class="col">
                {{form_row(formView.main_picture)}}

            </div>
        </div>

        <button type="submit" class="btn btn-success">
            <i class="bx bx-save"></i>
            Fin
        </button>

        {{form_end(formView)}}

    </div>
        
{% endblock %}